<?xml version="1.0"?>

<launch>
  <include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/>
  <node pkg="airsim_environment" type="velocity_control.py" name="trace"/>
  <node pkg="rosservice" type="rosservice" name="takeoff" args="call --wait /airsim_node/Drone0/takeoff true"/>
  <!-- <node name="underview" pkg="rqt_image_view" type="rqt_image_view" args="/airsim_node/Drone0/UnderView/Scene"/> -->
</launch>